* {
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
outline: 0;

}

body {
  background-color: #F0F8FF;
  text-align: center;
}

.carousel-item img {

  height: 800px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

img {
  margin: auto;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.navbar {
  background-color: red;
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.3);
}